h1
{
	font-family: monospace;
	font-size: 20px;
	color:#CD5C5C;
	text-transform: uppercase;
	text-shadow: 2px -1px  0 pink;
	
}



.Hero
{
	padding:15px;
	font-family: arial;
	font-size: 15px;
	letter-spacing: 1px
	background-color:
#F08080;
}
.primary h2
{
	font-family: monospace;
	font-size: 25px;
	color:#CD5C5C;
	text-transform: uppercase;
	text-shadow: 2px -1px  0 #000080;
}
.hero h1{
	text-shadow: red;
	font-family: arial;
	font-size: 10px;
	text-align: center;
	color: 
#F08080;
}

.Hero li
{
	text-transform: uppercase;
}
.Hero ul
{
	background: #e3e3e3;
	width: 100%;
}
li
{
	font-family: arial;
	font-size: 15px;

}


.cotainer_12
 {
 	background: red;
 }
 nav li
  {display: inline;}

 h6
 {
 	width:100%;
 	background: pink;
 	margin-left: 0;
 	text-transform: uppercase;
 }
 .primary p
 {
 	font-family: aerial;
 	font-size:15px;
 }



 
 h6
 {
 	font-family: sans-serif;
 }
 ul a{
 	text-decoration: none;
 }
 .grid_3
 {
 	background-color: #e3e3e3;
 	margin-top: 20px;
 	margin-left:0;
 	letter-spacing: 1px;
 }

.wrap  img{
	width: 200px;
	height:200px;


}
.wrap1 img
{ width: 350px;
	height:350;
 }
form{
	text-align: center;
}
li a:hover {
	color: green;
}
body{
	background-image: 
}
.main p{
	font-family: arial;
	letter-spacing: 1px;
	color:blue;
}
.wrap1 li{
	font-family: arial;
    color:black;
    font-size: 15px;
}
.site-footer
{
	display: block;
	background-color: #fff;

}

#footer{
    width: 100%;
    height: 10%;
    
    bottom: 0px;

    border: 3px dashed #333333;
    background:  #4169E1;
}
